{% extends 'layout.html' %}
{% load static %}


{% block title %}
About
{% endblock title %}

{% block body %}
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 abouttext" style="margin: auto auto;">
    <h2 class="featurette-heading">Did you start to learn Python,
        <span class="text-muted">but you need to help?</span>
    </h2>
    <p class="lead">Django Portal is an educational site providing content on Python programming
        and web development to all the programmers and budding programmers across the
        internet. The main goal of this site is to provide quality tips, tricks,
        hacks, and other Programming resources that allows beginners to improve their
        skills.
    </p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="{% static 'images/featurette-1.png'%}" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 push-md-5 abouttext" style="margin: auto auto;">
    <h2 class="featurette-heading">Do you have worries about Django?  <span class="text-muted">Here you can find all answers.</span></h2>
    <p class="lead">The best ideas can change who we are. Django Portal is where those ideas take shape, take off, and spark powerful
        conversations.  Here,
        expert and undiscovered voices alike dive into the heart of any topic and bring new ideas to the surface. Our
        purpose is to spread these ideas and deepen understanding of the world.</p>
  </div>
  <div class="col-md-5 pull-md-7">
    <img class="featurette-image img-fluid mx-auto" src="{% static 'images/featurette-2.png'%}" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 abouttext" style="margin: auto auto;">
    <h2 class="featurette-heading">You don't know where should to begin. <span class="text-muted">We can help you.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="{% static 'images/featurette-3.png'%}" alt="Generic placeholder image">
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->





{% endblock body %}