{% extends 'layout.html' %} 
{% load static %}
{% block title %} 
articles 
{% endblock title %} 

{% block body %}

<div class="jumbotron">
  <h1>All Articles</h1>
  <p class="lead">You can share here all Articles or what you have about Django, so everything will eisier for everyone!!!</p>
  <p><a class="btn btn-lg btn-primary" href="{% url 'dashboard' %}" role="button">Let start to share</a></p>
</div>





{% if articles %} 
<div class='container'>
  <div class="row">
    {% for article in articles %}
    <div class="col-lg-4">
    <h2>{{ article.title|truncatechars:20}}</h2>
    <p class="lead">by
      <a href="#">{{ article.author  }}</a>
    </p>
    <p>{{ article.created_date }}</p>
    <div style="min-height: 100px; max-width: 100%;">
      <p >{{ article.content|safe|truncatewords:20}} </p>

    </div>
    {% if article.article_image %}
    
    <img style=" width:100%; height:225px";  class="bd-placeholder-img card-img-top" src="{{article.article_image.url}}" alt="Card image cap">
  
    {% else %}
    
      <img style=" width:100%; height:225px";  class="bd-placeholder-img card-img-top" src="{% static 'images/index.png'%}" alt="Card image cap">
    
    {% endif %}
    <p><a style='margin-top: 10px;float: right; margin-bottom: 20px;' class="btn btn-primary" href="{% url 'detail' article.id%}" role="button">View details &raquo;</a></p>
  </div>
  {% endfor %}
</div>
</div>
{% else %}

<div class="alert alert-danger">There are no article that have the name that you searched</div>
{% endif %}

{% if articles.has_other_pages %}
<div style="position: relative;border-top: 1px solid black;">
  <ul class="pagination" style="font-size: 2rem; position: absolute;left: 50%;background-color:rgba(0,0,0,0.1);">
    {% if articles.has_previous %}
      <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in articles.paginator.page_range %}
      {% if articles.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if articles.has_next %}
      <li><a href="?page={{ articles.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>
{% endif %}


{% endblock body %}


