{% extends 'layout.html' %}


{% block title %}
    Home Page
{% endblock title %}


{% block body %}
    
    <div class="jumbotron text-center">
        <h3>Welcome to <span class = 'django'>Django</span> Blog Page</h3>
         <p>You can share here all Articles about <span class = 'django'>Django</span>  </p>
        
    </div>

    <p>
        {% if request.user.is_authenticated %}
        signed in {{ request.user.username}}
        {% else %}
        keine
        {% endif %}

    </p>
{% endblock body %}
    
    