{% extends 'layout.html' %}
{% load static %}


{% block title %}
    Home Page
{% endblock title %}


{% block body %}
    
    <div class="jumbotron text-center">
        {% if request.user.is_authenticated %}
        <h3 class="h1">Hi, nice to see here
            
            <span class="h1 indexname">{{ request.user.username}}</span></h3>
        {% endif %}
        <h3 class="h1">Welcome to <span ><img class= 'indexicon' src="{% static 'images/icon6.png'%}"></span> Blog Page</h3>
         <p>You can share here all Articles about <span ><img class= 'indexicon' src="{% static 'images/icon5.png'%}"></span>  </p>
        
    </div>
    <div >
    <div>
        <img style='max-height: 550px; width: 100%;'src="{% static 'images/index.png'%}" alt="" class="img-fluid">
    </div>

   
{% endblock body %}
    
    