{% extends 'layout.html' %}


{% block title %}
   Terms
{% endblock title %}
    

{% block body %}
    
<div class="w3-col l10 m12" id="main">
    <div id="mainLeaderboard" style="overflow: hidden; display: none !important;">
      <!-- MainLeaderboard-->

      <!--<pre>main_leaderboard, all: [728,90][970,90][320,50][468,60]</pre>-->
      <div id="snhb-main_leaderboard-0"></div>
      <!-- adspace leaderboard -->
     
    </div>
<h1>Terms of Service</h1>

<hr>
<h2>Overview</h2>
<p>This website is operated by Refsnes Data as. Throughout the site, the terms 
"we", "us" and "our" refer to Refsnes Data as. Refsnes Data as offers this 
website, including all information, tools and services available from this site 
to you, the user, conditioned upon your acceptance of all terms, conditions, 
policies and notices stated here.</p>
<p>By visiting our site and/ or purchasing something from us, you engage in our 
"Service" and agree to be bound by the following terms and conditions ("Terms of 
Service", "Terms"), including those additional terms and conditions and policies 
referenced herein and/or available by hyperlink. These Terms of Service apply to 
all users of the site, including without limitation users who are browsers, 
vendors, customers, merchants, and/ or contributors of content.</p>
<p>Please read these Terms of Service carefully before accessing or using our 
website. By accessing or using any part of the site, you agree to be bound by 
these Terms of Service. If you do not agree to all the terms and conditions of 
this agreement, then you may not access the website or use any services. If 
these Terms of Service are considered an offer, acceptance is expressly limited 
to these Terms of Service.</p>
<p>Any new features or tools which are added to the current site shall also be 
subject to the Terms of Service. You can review the most current version of the 
Terms of Service at any time on this page. We reserve the right to update, 
change or replace any part of these Terms of Service by posting updates and/or 
changes to our website. It is your responsibility to check this page 
periodically for changes. Your continued use of or access to the website 
following the posting of any changes constitutes acceptance of those changes.</p>
<hr>
<h2>Site Usage Terms</h2>
<p>By agreeing to these Terms of Service, you represent that you are at least 
the age of majority in your state or province of residence, or that you are the 
age of majority in your state or province of residence and you have given us 
your consent to allow any of your minor dependents to use this site. </p>
<p>You may not use our products for any illegal or unauthorized purpose nor may 
you, in the use of the Service, violate any laws in your jurisdiction (including 
but not limited to copyright laws). </p>
<p>You must not transmit any worms or viruses or any code of a destructive 
nature. </p>
<p>A breach or violation of any of the Terms will result in an immediate 
termination of your Services. </p>
<hr>
<h2>General Conditions</h2>
<p>We reserve the right to refuse service to anyone for any reason at any time.</p>
<p>You understand that your content (not including credit card information), may 
be transferred unencrypted and involve (a) transmissions over various networks; 
and (b) changes to conform and adapt to technical requirements of connecting 
networks or devices. Credit card information is always encrypted during transfer 
over networks.</p>
<p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any 
portion of the Service, use of the Service, or access to the Service or any 
contact on the website through which the service is provided, without express 
written permission by us.</p>
<p>The headings used in this agreement are included for convenience only and 
will not limit or otherwise affect these Terms. </p>
<hr>
<h2>Fair Use</h2>
<p>Fair use defines Refsnes Data as' exceptions to the rights protected by copyright 
laws.</p>
<p>Fair use of W3Schools includes using copyrighted material:</p>


<div id="mypagediv2" style="position:relative;text-align:center;"></div>
<br>

</div>
{% endblock body %}