


.django{
    background:#0C4B33;
    color: white;
    
}

.navbaricon{
    
    filter: opacity(.5) drop-shadow(0 0 0 rgb(41, 235, 41)); 
    
}
.indexicon{
    filter: opacity(.7) drop-shadow(0 0 0 rgb(17, 177, 17)); 
}
.indexname{
    color: crimson;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
   font-weight: bold;
}
.usercontrol {
    background-color:crimson;
    border-radius: 50px;
   
    
}
.usercontrollink {
    margin-left: 7px;
    margin-right: 7px;
   
    
}
/* .abouttext {
    margin: auto auto; */

#image_about {
    height: 500px;
    width: 500px;
}


